// Fonts

@import url("//hello.myfonts.net/count/32be27");

@font-face {
  font-family: 'SerifGothicStd-ExtraBold';
  src: url('fonts/32BE27_0_0.eot');
  src: url('fonts/32BE27_0_0.eot?#iefix') format('embedded-opentype'),
       url('fonts/32BE27_0_0.woff2') format('woff2'),
       url('fonts/32BE27_0_0.woff') format('woff'),
       url('fonts/32BE27_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'MaisonNeueWEB-Demi';
  src: url('fonts/MaisonNeueWEB-Demi.woff2') format('woff2'),
       url('fonts/MaisonNeueWEB-Demi.woff') format('woff');
}
