/////////////////////////////////////////////////////////////////////////
//
// Variables
//
/////////////////////////////////////////////////////////////////////////

// Colors
$light-pink: #FAF4F4;
$yellow: #FFF700;
$light-yellow: #FBF4C3;
$black: #403F3F;
$red: #FF594F;

// Color assignments
$background-color: $light-pink;

// Fonts stacks

// Font settings

// Sizes
$space-tiny   : 5px;
$space-small  : 10px;
$space-medium : 20px;
$space-large  : 40px;
$space-huge   : 80px;

// Transitions
$tt: 0.2s;
