html {
  font-size: 62.5%;
  text-rendering: auto;

  @include breakpoint(sm) {
    text-rendering: geometricPrecision;
  }
}

body {
  @include font--regular;
}

h1, h2, h3, h4, h5, h6 {
  @include font--regular;
  font-size: inherit;
  font-weight: normal;
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 2em;
}

.title {
  @include font--title;
}

blockquote {
  margin: 0;
  quotes: "“" "”" "‘" "’";

  &:before,
  &:after {
    position: absolute;
  }

  &:before {
    content: open-quote;
    margin-left: -0.65em;
  }

  &:after {
    content: close-quote;
    margin-left: 0.1em;
  }
}
