///////////////////////////////////////////////////
// Typography Variables
///////////////////////////////////////////////////

// Font stacks
$font-stack__regular : 'MaisonNeueWEB-Demi', sans-serif;
$font-stack__title : 'SerifGothicStd-ExtraBold', sans-serif;

///////////////////////////////////////////////////
// Typography definitions
///////////////////////////////////////////////////

// Regular
@mixin font--regular {
  font-family: $font-stack__regular;
  font-size:      24px;
  line-height:    1.5;
  letter-spacing: 0;
}

@mixin font--title {
  font-family: $font-stack__title;
  font-size:      24px;
  line-height:    1.5;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
